doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1') 
  title Açaí Brasil
  link(rel='stylesheet' href='./css/main.css')
  link(rel='apple-touch-icon' sizes='180x180' href='./img/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='./img/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='./img/favicon-16x16.png')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap' rel='stylesheet') 
  script(src='https://kit.fontawesome.com/4a0b67b127.js' crossorigin='anonymous')
include navBar.pug
block content
include footer.pug      
script(src='./js/index.js') 