nav.nav
  if user 
    div.nav-main
      a.user(href='')= user.name.split(' ')[0]
      a.logo(href='/')
        .logo__img
        .logo__text Açaí Brasil
      a.logoutBtn(href='') Log Out
  else 
    div.nav-main
      a.loginBtn(href='/login') Sign in
      a.logo(href='/')
        .logo__img
        .logo__text Açaí Brasil
      span.nav-spaceFill .  
