doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Acai Brasil
  link(rel='stylesheet' href='./css/main.css')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap' rel='stylesheet') 
  script(src='https://kit.fontawesome.com/4a0b67b127.js' crossorigin='anonymous')
main
    h1.heading-3 Choose your new password
        span Must be at least 8 characters long
    form.resetPasswordForm
      input#formResetPassword(class='resetPassword' type='password' placeholder='New Password' required)
      input#formResetPasswordConfirm(class='resetPasswordConfirm' type='password' placeholder='Confirm New Password' required) 
      button(class='btn resetPasswordBtn') Reset Password    
include footer.pug      
script(src='./js/index.js') 